'.text.html':
	'Create Page':
		'prefix': 'pccreatepage'
		'body': """
			<div class="portlet">
				<h4 class="portlet-title">
					<pc-breadcrumb>
			            <pc-breadcrumb-item text="Início" href="#/"></pc-breadcrumb-item>
			            <pc-breadcrumb-item text="${1:labelRaiz}" href="#/${2:caminhoRaiz}"></pc-breadcrumb-item>
			            <pc-breadcrumb-item text="${3:labelLista}" href="#/${2:caminhoRaiz}/${4:caminhoLista}"></pc-breadcrumb-item>
			            <pc-breadcrumb-item text="Criar ${5:entidade}" active="true"></pc-breadcrumb-item>
			        </pc-breadcrumb>
				</h4>
				<div class="portlet-body">
					<div class="alert alert-success text-center" ng-show="vm.success">
						<h3 class="panel-title">${5:entidade} cadastrado com sucesso.</h3>
					</div>
					<div class="well well-sm text-center" ng-show="vm.success">
						<a class="btn btn-info" href="#/${2:caminhoRaiz}/${4:caminhoLista}">Lista de ${6:entidades}</a>
						<a class="btn btn-info" href="" ng-click="vm.reset()">Cadastrar nova ${5:entidade}</a>
					</div>
					<pc-error-alert error="vm.error" ng-show="vm.error"></pc-error-alert>

					<div class="panel panel-default" ng-show="!vm.success">
						<div class="panel-heading">
							<h3 class="panel-title">Dados da ${5:entidade}</h3>
						</div>
						<div class="panel-body">
							<form class="form form-horizontal" name="formCreate" novalidate role="form" show-validation>
								<div ng-init="vm.form = formCreate"></div>


							</form>
						</div>
						<div class="panel-footer">
							<pc-loading-button class="btn btn-secondary" ng-click="${7:vm.save()}"
								condition="${8:vm.loading}" label="${9:Salvar}" icon="${10:fa-save}"></pc-loading-button>

							<a class="btn btn-warning" href="#/${2:caminhoRaiz}/${4:caminhoLista}" type="button">
								<i class="fa fa-ban"></i>
								<span translate="action.cancel">Cancelar</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		"""
