'.text.html':
	'List page':
		'prefix':'pclistpage'
		'body':"""
			<div class="container">
				<pc-breadcrumb>
					<pc-breadcrumb-item text="Início" href="#/"></pc-breadcrumb-item>
					<pc-breadcrumb-item text="${1:labelRaiz}" href="#/${2:caminhoRaiz}"></pc-breadcrumb-item>
					<pc-breadcrumb-item text="Lista ${3:entidades}" active="true"></pc-breadcrumb-item>
				</pc-breadcrumb>

				<div class="card ch-alt m-b-20">
					<div class="card-header ch-alt m-b-20">
						<div class="hidden-xs">
							<h2>Dados da ${5:entidade} </h2>
						</div>
						<div class="clearfix"></div>
					</div>

					<div class="card-body card-padding">
						<pc-error-alert error="vm.error" ng-show="vm.error" ></pc-error-alert>

						<pc-data-table-remote
							url="vm.getRemoteUrl()"
							on-select="vm.onSelect(value)"
							columns="vm.columns"
							datatable-scope="vm.datatableScope"
							datatable-control="vm.datatableControl"
							search-filters-template="filters.html"
							extra="extra.html">
						</pc-data-table-remote>

						<pc-confirm ng-if="vm.confirmControl" confirm-control="vm.confirmControl" message="{{vm.getConfirmMessage()}}" on-ok="vm.remove(data)"/>

						<div class="clearfix"></div>
					</div>
				</div>
			</div>

			<script type="text/ng-template" id="extra.html">
				<a class="btn btn-info" href="#/${2:caminhoRaiz}/${4:caminhoLista}/cadastrar" title="Cadastrar">
					<i class="fa fa-plus"></i> Cadastrar
				</a>
			</script>

			<script type="text/ng-template" id="actions-column.html">
				<div class="text-center">
					<a class="btn btn-info" href="#/${2:caminhoRaiz}/${4:caminhoLista}/{{item.id}}" title="Visualizar">
						<i class="fa fa-eye"></i>
					</a>
					<a class="btn btn-warning" href="#/${2:caminhoRaiz}/${4:caminhoLista}/{{item.id}}/editar" title="Editar">
						<i class="fa fa-pencil"></i>
					</a>
					<a class="btn btn-danger" href="" ng-click="datatableScope.confirmDelete({{item.id}})" title="Remover">
						<i class="fa fa-remove"></i>
					</a>
				</div>
			</script>

			<script type="text/ng-template" id="filters.html">
				<div class="well form-datatable">
					<form name="formFilter" role="form" novalidate show-validation class="form" >
						<div ng-init="form = formFilter"></div>

						<div class="row">
							<div class="col-md-12">
								<h4>Pesquisa</h4>
							</div>
						</div>

						<div class="row form-group">
							<div class="col-md-3">
								<pc-form-group label="Código" label-translate="Código">
									<input type="text" class="form-control" name="${5:entityId}" ng-model="vm.filters.${5:entityId}"
										ui-number-mask="0" ui-keypress="{enter:'vm.datatableControl.applySearch()'}">
								</pc-form-group>
							</div>

							<div class="col-md-3">
								<pc-form-group label="Nome" label-translate="Nome">
									<input type="text" class="form-control" name="name" ng-model="vm.filters.name"
										ui-keypress="{enter:'vm.datatableControl.applySearch()'}">
								</pc-form-group>
							</div>

						</div>

						<div class="modal-footer">
							<button class="btn btn-primary" ng-click="vm.datatableControl.applySearch()">
								<i class="fa fa-search"></i> Pesquisar
							</button>
							<button class="btn btn-warning" ng-click="vm.datatableControl.cancelSearch()">
								<i class="fa fa-ban"></i> Cancelar
							</button>
						</div>
					</form>
				</div>
			</script>
		"""
