'.text.html':
    'Page Card':
        'prefix': 'pcpagecard'
        'body': """
            <div class="card">
                <div class="card-header">
                    ${1:header_or_bradcrumb}
                </div>
                <div class="card-body card-padding">
                    ${2:form_or_content}

                    <hr>
                    <div class="pull-right">
                        ${3:buttons}
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        """
