'.text.html':
    'Form group textarea':
        'prefix': 'pcformgrouptextarea'
        'body': """
            <pc-form-group label="${1:label}" ng-model="vm.${2:model}">
                <textarea class="form-control" name="${3:name}" ng-model="vm.${2:model}" rows="4"></textarea>
            </pc-form-group>
        """
