'.text.html':
  'Alert success':
    'prefix': 'pcformgroupselect'
    'body': """
      <div class="alert alert-success text-center" ng-show="vm.success">
        <strong>${1:mensagem}</strong>
      </div>
    """
