'.text.html':
  'Breadcrumb':
    'prefix': 'pcbreadcrumb'
    'body': """
        <pc-breadcrumb>
            <pc-breadcrumb-item text="Início" href="#/"></pc-breadcrumb-item>
            ${1}
        </pc-breadcrumb>
    """
