'.text.html':
  'Cancel Button':
    'prefix': 'pcloadingbutton'
    'body': """
      <a class="btn btn-warning" href="#/${1:path}" type="button">
        <i class="fa fa-ban"></i>
        <span translate="action.cancel">Cancelar</span>
      </a>
    """
