'.text.html':
    'Page Card':
        'prefix': 'pcpagecard'
        'body': """
            <div class="card">
                <div class="card-header ch-alt">
                    <div class="hidden-xs">
                        <h2>${1:title}</h2>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="card-body card-padding">
                    ${2:form_or_content}

                    <hr>
                    <div class="pull-right">
                        ${3:buttons}
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        """
