'.text.html':
	'Create Page':
		'prefix': 'pccreatepage'
		'body': """
			<div class="container">
				<pc-breadcrumb>
					<pc-breadcrumb-item text="Início" href="#/"></pc-breadcrumb-item>
					<pc-breadcrumb-item text="${1:labelRaiz}" href="#/${2:caminhoRaiz}"></pc-breadcrumb-item>
					<pc-breadcrumb-item text="${3:labelLista}" href="#/${2:caminhoRaiz}/${4:caminhoLista}"></pc-breadcrumb-item>
					<pc-breadcrumb-item text="Cadastrar ${5:entidade}" active="true"></pc-breadcrumb-item>
				</pc-breadcrumb>

				<div class="card" ng-show="vm.success">
		            <div class="card-body card-padding">
		                <div class="alert alert-success text-center">
		                    ${5:entidade} cadastrado com sucesso.
		                </div>

						<div class="text-center">
							<a class="btn btn-info" href="#/${2:caminhoRaiz}/${4:caminhoLista}">Lista de ${6:entidades}</a>
							<a class="btn btn-info" href="" ng-click="vm.reset()">Cadastrar nova ${5:entidade}</a>
						</div>
		            </div>
		        </div>

				<div class="card"ng-show="!vm.success">
					<div class="card-header ch-alt">
						<h2>Dados da ${5:entidade}  <small></small></h2>
						<div class="clearfix"></div>
					</div>

					<div class="card-body card-padding">

						<pc-error-alert error="vm.error" ng-show="vm.error"></pc-error-alert>

						<form class="form" name="formCreate" novalidate role="form" show-validation>
							<div ng-init="vm.form = formCreate"></div>

							<div class="row">

							</div>
						</form>

						<hr>
						<div class="pull-right">
							<pc-loading-button class="btn btn-primary" ng-click="${7:vm.save()}"
								condition="${8:vm.loading}" label="${9:Salvar}" icon="${10:fa-save}"></pc-loading-button>

							<a class="btn btn-warning" href="#/${2:caminhoRaiz}/${4:caminhoLista}" type="button">
								<i class="fa fa-ban"></i> Cancelar
							</a>

						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		"""
