'.text.html':
	'Create Page':
		'prefix': 'pceditpage'
		'body': """
			<div class="portlet">
				<h4 class="portlet-title">
				<ol class="breadcrumb">
					<li><a href="#/">Início</a></li>
					<li><a href="#/${1:caminhoRaiz}">${2:labelRaiz}</a></li>
					<li><a href="#/${1:caminhoRaiz}/${3:caminhoLista}">${4:labelLista}</a></li>
					<li class="active">Editar {{${entity.id}}} </li>
				</ol>
				</h4>
				<div class="portlet-body">
					<div class="alert alert-success text-center" ng-show="vm.success">
						<strong>${5:entidade} atualizado com sucesso.</strong>
					</div>
					<pc-error-alert error="vm.error" ng-show="vm.error"></pc-error-alert>

					<div class="panel panel-default">
						<div class="panel-heading">
							<strong>Dados do ${5:entidade}</strong>
						</div>
						<div class="panel-body">
							<form class="form form-horizontal" name="formEdit" novalidate role="form" show-validation>
								<div ng-init="vm.form = formEdit"></div>

								<div class="form-group">

								</div>
							</form>
						</div>

						<div class="panel-footer">
							<pc-loading-button class="btn btn-secondary" ng-click="${7:vm.updade()}"
								condition="${8:vm.loading}" label="${9:Salvar}" icon="${10:fa-save}"></pc-loading-button>

							<a class="btn btn-warning" href="#/${3:caminhoLista}" type="button">
								<i class="fa fa-ban"></i>
								<span>Voltar</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		"""
