'.text.html':
  'Form':
    'prefix': 'pc-form'
    'body': """
      <form name="${1:formName}" role="form" class="form form-horizontal" novalidate show-validation >
        <div ng-init="vm.form = ${1:formName}"></div>
        ${2}
      </form>
    """
