'.source.js':
    'Call save':
        'prefix': 'pcsave'
        'body': """
            ${1:serviceName}.save(
                vm.${2:object},
                function(value, responseHeaders) {
                    vm.${3:value}=value;
                    vm.success = 'OK';
                    vm.error = null;
                    grow.success("${4:Entidade} criad${5:o} com sucesso");
                },
                function(error) {
                    vm.success = null;
                    vm.error = error;
                });
        """
