'.source.js':
	'List controller':
		'prefix': 'pceditcontroller'
		'body': """
			(function() {
				'use strict';

				angular
					.module('${1:module}')
					.controller('Edit${2:Controller}', Edit${2:Controller});

				Edit${2:Controller}.$inject = ['$scope', '$rootScope',$routeParams, '$route', 'growl' , '${3:service}Service'];

				/* @ngInject */
				function Edit${2:Controller}( $scope, $rootScope, $routeParams, $route, growl, ${3:service}Service) {
					var vm = this;

					vm.reset = reset;
					vm.update = update;

					activate();

					function activate() {
						initData();
					}

					function initData() {
						${3:service}Service.get( {
		                    id: $routeParams.id
		                },
		                function ( value, responseHeaders ) {
		                    vm.${4:entity} = value;
		                    vm.error = null;
		                },
		                function ( error ) {
		                    vm.error = error;
		                } );
					}

					function reset() {
						$route.reload();
					}

					function update() {
						vm.loading = true;
						vm.form.$submmited = true;

						if ( vm.form.$invalid ) {
							growl.error( 'Formulário inválido. Verifique todos os campos.' );
							$rootScope.$broadcast( 'show-errors-check-validity' );
							vm.loading = false;
							return;
						}

						${3:service}Service.update(
						vm.${4:entity},
						function ( value, responseHeaders ) {
							vm.${4:entity} = value;
							vm.success = 'OK';
							vm.error = null;
							growl.success( '${4:entity} criado com sucesso' );
							vm.loading = false;
						},
						function ( error ) {
							vm.success = null;
							vm.error = error;
							vm.loading = false;
						} );
					}

				}
			})();
		"""
