'.source.js':
    'Confi':
        'prefix': 'pcconfig'
        'body': """
            (function() {
                'use strict';

                angular
                    .module('${1:comdominioApp}')
                    .config('${2:Config}', ${2:Config});

                ${2:Config}.$inject = ['${3:dependencies}'];

                function ${2:Config}(${3:dependencies}) {
                    ${4}
                }
            })();
        """
