'.source.js':
    'Call query':
        'prefix': 'pcquery'
        'body': """
            ${1:serviceName}.query({},
            function(value, responseHeaders) {
                vm.${2:value}=value;
                vm.error = null;
            },
            function(error) {
                vm.error = error;
            });
        """
