'.source.js':
    'Call service':
        'prefix': 'pcget'
        'body': """
            ${1:serviceName}.get({
                id:${2:$routeParams.id}
            },
            function(value, responseHeaders) {
                vm.${3:vale}=value;
                vm.error = null;
            },
            function(error) {
                vm.error = error;
            });
        """
