'.source.js':
    'Valid form':
        'prefix': 'pcvalidation'
        'body': """
            vm.form.$submmited = true;
            if (vm.form.$invalid) {
                growlService.growl('Formulário inválido. Verifique todos os campos.', 'danger');
                $rootScope.$broadcast('show-errors-check-validity');
                return;
            }
        """
