'.source.js':
  'Valid form':
    'prefix': 'pcvalidation'
    'body': """
      vm.form.$submmited = true;
      if (vm.form.$invalid) {
        growl.error('Formulário inválido. Verifique todos os campos.');
        $scope.$broadcast('show-errors-check-validity');
        return;
      }
    """
