'.source.js':
    'Resource':
        'prefix': 'pcresource'
        'body': """
            (function() {
                'use strict';

                angular
                    .module('${1:comdominioApp}')
                    .service('${2:Service}', ${2:Service});

                ${2:Service}.$inject = ['$resource', 'API_BASE_URL'];

                function ${2:Service}($resource, API_BASE_URL) {
                    return $resource(API_BASE_URL + 'app/rest/${3:endpoint}/:id/:action', {
                        id: '@id',
                        action: '@action'
                    }, {
                        query: {
                            isArray: false
                        },
                        update: {
                            method: 'PUT'
                        },
                    });
                }
            })();
        """
