'.source.js':
    'State':
        'prefix': 'pcstate'
        'body': """
            (function() {
                'use strict';

                angular
                    .module('${1:module}')
                    .config('StateConfig', StateConfig);

                StateConfig.$inject = ['$stateProvider'];

                function StateConfig($stateProvider) {
                    $stateProvider.state('${2:state}', {
                        url: '${3:url}',
                        views: {
                            'content@': {
                                templateUrl: '${4:viewTemplateUrl}',
                                controller: '${5:viewController}',
                                controllerAs: 'vm',
                            }
                        },
                        data: {
                            authorities: [
                                ${6:USER_ROLES.all}
                            ],
                            pageTitle: '${7:pageTitle}'
                        },

                    });
                }
            })();
        """
