'.source.js':
    'State Data':
        'prefix': 'pcstatedata'
        'body': """
            data: {
                authorities: [
                    ${1:USER_ROLES.all}
                ],
                pageTitle: '${2:pageTitle}'
            },
        """
