'.source.js':
    'State':
        'prefix': 'pcstate'
        'body': """
            (function() {
                'use strict';

                angular
                    .module('${1:module}')
                    .config(${2:StateConfig});

                ${2:StateConfig}.$inject = ['$stateProvider', 'USER_ROLES'];

                function ${2:StateConfig}($stateProvider, USER_ROLES) {
                    $stateProvider.state('${3:state}', {
                        parent: 'app',
                        url: '${4:url}',
                        views: {
                            'content@': {
                                templateUrl: '${5:viewTemplateUrl}',
                                controller: '${6:viewController}',
                                controllerAs: 'vm',
                            }
                        },
                        data: {
                            authorities: [
                                ${7:USER_ROLES.all}
                            ],
                            pageTitle: '${8:pageTitle}'
                        },

                    });
                }
            })();
        """
